<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sélection des Produits</title>
  </head>
  <body>
    <h1>Sélection des Produits</h1>
    <form id="productForm">
      <label for="headwear">Couvre-chef:</label>
      <select id="headwear" name="headwear">
        <option value="chapeau">Chapeau</option>
        <option value="casquette">Casquette</option></select
      ><br /><br />
      <label for="tops">Hauts:</label>
      <select id="tops" name="tops">
        <option value="tshirt">T-shirt</option>
        <option value="chemise">Chemise</option></select
      ><br /><br />
      <label for="bottoms">Bas:</label>
      <select id="bottoms" name="bottoms">
        <option value="pantalon">Pantalon</option>
        <option value="short">Short</option></select
      ><br /><br />
      <label for="shoes">Chaussures:</label>
      <select id="shoes" name="shoes">
        <option value="sneakers">Sneakers</option>
        <option value="chaussures">Chaussures</option></select
      ><br /><br />
      <button type="submit">Valider la sélection</button>
    </form>
  </body>
</html>
